<div class="video banner-bg-video bg-video-color-header hidden-xs hidden-sm" style="margin-bottom: 0px;">
  <div class="banner-title">
    <div>
 </div>
    <p class="nom">WE MAKE WEB</p>
    <h1 class="base-line">AGENCE DE CRÉATION DE SITE WEB SUR-MESURE : MONTREZ AU MONDE CE QUE VOUS SAVEZ FAIRE.</h1>
    <p class="slogan"><i>"La qualité de notre communication est déterminée non par la manière dont nous disons les choses, mais par la manière dont elles sont comprises." - Andrew Grove -</i></p>
<div class="container bouton">
  <button class="bouton0 bouton_header" type="button" onclick="down_to_service()" style=" z-index: 10;">Savoir-faire
</button>
<button class="bouton1 bouton_header" type="button" onclick="down_to_about()" style=" z-index: 10;">Pourquoi nous ?
</button>
<button class="bouton2 bouton_header" type="button" onclick="down_to_contact_form()" style=" z-index: 10;">Contactez nous
</button>
  <p><span class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="position: absolute; bottom: 10px;font-size: 40px;"></span></p>
  </div>
</div>

<% @embed_code = "<iframe width='100%' src='https://www.youtube.com/embed/ICr_bOuM9Zo?mute=1&autoplay=1&loop=1&playlist=ICr_bOuM9Zo'?rel=0&amp;controls=0;showinfo=0;loop=1; frameborder='0' allowfullscreen></iframe>" %>
<div id="myVideo" style="z-index: -10;"><%= raw(@embed_code) %></div>
</div>



<div class="banner hidden-md hidden-lg">
  <div class="" style="padding: 20px;">
    <h1 class="nom" style="font-size: 40px;">WE MAKE WEB</h1>
    <h4 class="base-line">AGENCE DE CRÉATION DE SITE WEB SUR-MESURE : MONTREZ AU MONDE CE QUE VOUS SAVEZ FAIRE.</h4>
    <button class="bouton2 bouton_header" type="button" onclick="down_to_contact_form()" style=" z-index: 10;">Contactez nous
</button>
  </div>

</div>



<!-- <div class="wrapper padded" style="margin-top: 30px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 text-center">
        <%= image_tag 'one.png', width: "40%"%>
      <h4>Analyse des besoins</h4>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 text-center">
        <%= image_tag 'two.png', width: "40%"%>
      <h4>Conseils et accompagnement</h4>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 text-center">
        <%= image_tag 'three.png', width: "40%"%>
      <h4>Développement et hébergement des produits web</h4>
      </div>
    </div>
  </div>
</div> -->




<div class="alert-info">
 <%= flash[:notice]%>
</div>


<div class="bandeau" id="about" style="padding: 60px;">
<p>Parce que nous aimons ce que nous faisons...et nous le faisons sur-mesure.</p>
</div>




<!-- <div class="wrapper padded feature"style="margin-top: 60px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 text-center feature1">
        <%= image_tag 'sur_mesure.png', width: '40%' %><br>
        <br>
         <h4>Du web sur-mesure !</h4>
         <br>
        <p class="text-center">Nous codons vos solutions pour répondre à vos besoins. Ni logiciel ni Wordpress pour le développement. Ici, tout est fait maison !</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 text-center feature2">
        <%= image_tag 'money.png', width: '40%' %><br>
        <br>
        <h4>Paiement 3X sans frais</h4>
        <br>
        <p class="text-center">Vous voulez un site pro sans vendre un rein ? Nous aimons rendre la technologie accessible et votre communication le sera également.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 text-center feature3">
        <%= image_tag 'proximite.png', width: '40%' %><br>
        <br>
         <h4>Proximité client</h4>
         <br>
        <p class="text-center">Nous voulons préserver une proximité avec vous. Vous appellez, on arrive ! On discute de vos projets autour d'un café, on trouve une solution.</p>
      </div>
    </div>
  </div>
</div> -->






<div class="wrapper padded feature"style="margin-top: 60px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 text-center feature1">
        <%= image_tag 'sur-mesure.png', width: '40%' %><br>
        <br>
         <h4>Du web sur-mesure !</h4>
         <br>
        <p class="text-center">Nous codons vos solutions pour répondre à vos besoins. Ni logiciel ni Wordpress pour le développement. Ici, tout est fait maison !</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 text-center feature2">
        <%= image_tag 'cards.png', width: '40%' %><br>
        <br>
        <h4>Paiement 3X sans frais</h4>
        <br>
        <p class="text-center">Vous voulez un site pro sans vendre un rein ? Nous aimons rendre la technologie accessible et votre communication le sera également.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 text-center feature3">
        <%= image_tag 'placeholder.png', width: '40%' %><br>
        <br>
         <h4>Proximité client</h4>
         <br>
        <p class="text-center">Nous voulons préserver une proximité avec vous. Vous appellez, on arrive ! On discute de vos projets autour d'un café, on trouve une solution.</p>
      </div>
    </div>
  </div>
</div>
<!-- <p class="punch_line text-center padded bandeau">Parce que nous aimons ce que nous faisons...</p> -->



<div class="wrapper padded">
  <div class="container padded"  style="border-top: 1px solid #4CA1AF;">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <%= image_tag 'codeur.jpg', width: "100%" %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="" >
        <h4 style="font-weight: lighter; font-size: 30px; color: gray; text-align: center; font-family: 'Dancing Script', cursive;">Nous concevons et nous développons vos solutions web sur-mesure et <i><strong>from scratch</strong></i>, c'est-à-dire en partant d'une page blanche. En fonction de chaque besoin et de chaque budget nous vous proposons plusieurs plans de site : <strong>le site web One-page, le site vitrine, la landing page et le site applicatif</strong> avec base de données, gestion des utilisateurs, back-office, etc...
      </h4>
      </div>
      </div>
    </div>
  </div>
</div>




<div class="wrapper feature_service">
  <div class="container padded" style="border-top: 1px solid #4CA1AF;">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 feature_service1">
        <div class="media">
          <div class="media-left">
              <%= image_tag 'advice.png',:input_html => { :class => 'media-object' } %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Conseil et stratégie</h4>
            <p>Conseil en communication et web marketing</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 feature_service2">
        <div class="media">
          <div class="media-left">
              <%= image_tag 'code.png',:input_html => { :class => 'media-object' } %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Site applicatif</h4>
            <p>Ce qu'on sait faire : Gestion des utilisateurs, plateforme de réservation, boutique en ligne, etc...</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 feature_service3">
        <div class="media">
          <div class="media-left">
              <%= image_tag 'design.png',:input_html => { :class => 'media-object' } %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Site web vitrine</h4>
            <p>Nous concevons et créons des design web pour une meilleur expérience utilisateur. Améliorer sa visibilité sur internet est devenu un objectif de communication universel</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row padded">
      <div class="col-xs-12 col-sm-6 col-md-4 feature_service4">
       <div class="media">
        <div class="media-left">
            <%= image_tag 'seo.png',:input_html => { :class => 'media-object' } %>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Référencement Google</h4>
          <p>Nous mettons en œuvre les techniques pour améliorer la position de votre site web sur les pages de résultats des moteurs de recherche.</p>
        </div>
      </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 feature_service5">
        <div class="media">
          <div class="media-left">
              <%= image_tag 'responsive2.png',:input_html => { :class => 'media-object' } %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Responsive design</h4>
            <p>Nos solutions web s'adaptent à tout type de support : smartphone, tablette, ordinateur portable.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 feature_service6">
       <div class="media">
        <div class="media-left">
            <%= image_tag 'marketing.png',:input_html => { :class => 'media-object' } %>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Me faire connaitre</h4>
          <p>Développer votre présence en ligne et créer de nouveaux prospects</p>
        </div>
      </div>
      </div>
    </div>

  </div>
</div>






<h4 style="font-weight: lighter; font-size: 30px; color: gray; text-align: center; font-family: 'Dancing Script', cursive;">Et voici quelques exemples...</h4>











<div class="row row-destination" style="margin-top: 100px;">
  <div class="col-xs-12 col-sm-6 col-md-3 test site_web">
    <div class="voile"><i class="fa fa-search" style="color: white; font-size: 57px;"></i></div>
      <%= image_tag 'EP.png', width: "100%" %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 test site_web">
    <div class="voile"><i class="fa fa-search" style="color: white; font-size: 57px;"></i></div>
    <%= image_tag 'makemefly.png', width: "100%" %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 test site_web">
    <div class="voile"><i class="fa fa-search" style="color: white; font-size: 57px;"></i></div>
    <%= image_tag 'sca.png', width: "100%" %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 test site_web">
    <div class="voile"><i class="fa fa-search" style="color: white; font-size: 57px;"></i></div>
   <%= image_tag 'skypicture.png', width: "100%" %>
  </div>
</div>




 <!-- <div class="row row-destination" style="margin-top: 100px;">
  <div class="col-xs-12 col-sm-6 col-md-6 test site_web">
    <div class="voile"><%= image_tag 'cross.png', width: '20%' %></div>
      <%= image_tag 'EP.png', width: "100%" %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 test site_web">
    <div class="voile"><%= image_tag 'cross.png', width: '20%' %></div>
    <%= image_tag 'makemefly.png', width: "100%" %>
  </div>
</div>
<div class="row row-destination">
  <div class="col-xs-12 col-sm-6 col-md-6 test site_web">
    <div class="voile"><%= image_tag 'cross.png', width: '20%' %></div>
    <%= image_tag 'sca.png', width: "100%" %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 test site_web">
    <div class="voile"><%= image_tag 'cross.png', width: '20%' %></div>
   <%= image_tag 'skypicture.png', width: "100%" %>
  </div>
</div> -->











<div class="video banner-bg-video bg-video-color-cta hidden-xs" style="margin-bottom: 0px;">
<div class="calltoaction" style="padding: 200px;">
  <div class="container-contact100-form-btn">
          <div class="wrap-contact100-form-btn" style="border-radius: 50px; border: 2px solid white;">
            <div class="contact100-form-bgbtn" style="background: transparent;"></div>
            <button class="contact100-form-btn cta" type="button" onclick="down_to_contact_form()" style="height: 80px;">
                <%= link_to 'JE VEUX LA MÊME CHOSE', '#'%>
            </button>
          </div>
        </div>
</div>
<% @embed_code = "<iframe width='100%' src='https://www.youtube.com/embed/OA8NGgOD_AE?mute=1&autoplay=1&loop=1&playlist=OA8NGgOD_AE'?rel=0&amp;controls=0;showinfo=0;loop=1; frameborder='0' allowfullscreen></iframe>" %>
<div id="myVideo" style="z-index: -10;"><%= raw(@embed_code) %></div>
</div>








<!--


<div class="calltoaction" style="padding: 200px; background-color: #2C3E50;">
  <div class="container-contact100-form-btn">
          <div class="wrap-contact100-form-btn" style="border-radius: 50px; border: 2px solid #4CA1AF;">
            <div class="contact100-form-bgbtn" style="background: transparent;"></div>
            <button class="contact100-form-btn cta" style="height: 80px;">
                <%= link_to 'JE VEUX LA MÊME CHOSE', '#'%>
            </button>
          </div>
        </div>
</div>

 -->






<!-- <div class="wrapper feature" id="our_service" style="margin-top: -100px;">
  <div class="container center">
    <div class="feature_pix center" style="position:relative;">
      <p style="position:absolute; color: white; font-weight: bold; font-size: 70px; background-color:rgba(117,113,113,0.6); padding:40px;">VIDÉO D'ENTREPRISE</p>
      <%= image_tag 'montage.jpg', width: "100%"%>
    </div>
    <div class="" style="margin-top: -100px; z-index: 3;">
      <div class="row row-destination">
      <div class="col-xs-12 col-sm-6 col-md-4 service square_carac test site_web center" >
         <div class="service_hover center text-center">Conseil en communication et web marketing</div>
        <%= image_tag 'strategy.png', width: '20%' %>
        <p>STRATÉGIE ET CONSEIL</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 service2 square_carac test site_web center">
        <div class="service_hover center text-center">Améliorer sa visibilité sur internet est devenu un objectif de communication universel</div>
        <%= image_tag 'responsive.png', width: '20%' %>
        <p>PROJET WEB VITRINE</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 service3 square_carac test site_web center">
        <div class="service_hover center text-center">Ce qu'on sait faire : Gestion des utilisateurs, plateforme de réservation, boutique en ligne, etc...</div>
        <%= image_tag 'web_developement.png', width: '20%' %>
        <p>APPLICATION WEB</p>
      </div>
    </div>
    <div class="row row-destination">
      <div class="col-xs-12 col-sm-6 col-md-4 service3 square_carac test site_web center">
        <div class="service_hover center text-center">Nous concevons et créons des design web pour une meilleur expérience utilisateur.</div>
        <%= image_tag 'web_design.png', width: '20%' %>
        <p>WEB DESIGN</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 service square_carac test site_web center">
        <div class="service_hover center text-center">Nos solutions web s'adaptent à tout type de support : smartphone, tablette, ordinateur portable.</div>
        <%= image_tag 'responsive.png', width: '20%' %>
        <p>RESPONSIVE DESIGN</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 service2 square_carac test site_web center">
        <div class="service_hover center text-center">Développer votre présence en ligne et créer de nouveaux prospects</div>
        <%= image_tag 'responsive.png', width: '20%' %>
        <p>WEB MARKETING</p>
      </div>
    </div>
    </div>
  </div>
</div> -->


<!-- <div class="container feature competentes" style="background-color: #F4F4F4; width: 100%; ">
  <div class="row">
      <div class="col-sx-12 col-ms-12 col-md-6" style="padding-top: 40px;">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 center">
        <%= image_tag 'strategy.png', width: '10%' %>
         <h4>Strategie et conseil</h4>
        <p class="text-center">Nous vous conseillons dans le design de votre site web. Nous partageons nos connaissances dans le marketing digital. Nous composons la musique, vous écrivez les paroles.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 center">
          <%= image_tag 'web_design.png', width: '10%' %>
         <h4>Design web qui parle à votre cible</h4>
        <p class="text-center">Nous concevons et créons des design web pour une meilleur expérience utilisateur.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 center text-center">
         <%= image_tag 'web_developement.png', width: '10%' %>
        <h4>Développement web</h4>
        <p class="text-center">Ce qu'on sait faire : Gestion des utilisateurs, plateforme de réservartion, Facebook Connect, etc...</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 center">
        <%= image_tag 'responsive.png', width: '10%' %>
        <h4>Responsive design</h4>
        <p class="text-center">Nos solutions web s'adaptent à tout type de support : smartphone, tablette, ordinateur portable.</p>
        </div>
      </div>
      </div>
      <div class="col-sx-12 col-ms-12 col-md-6">
        <%= image_tag 'codeur.jpg', width: "102%"%>
      </div>
    </div>
</div>
 -->




<!--
<div class="wrapper padded feature"style="margin-top: 30px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <%= image_tag 'strategy.png', width: '50%' %>
         <h4>Strategie et conseil</h4>
        <p class="text-center">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <%= image_tag 'web_developement.png', width: '50%' %>
        <h4>Développement web</h4>
        <p class="text-center">Ce qu'on sait faire : Gestion des utilisateurs, plateforme de réservartion, Facebook Connect, etc...</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <%= image_tag 'web_design.png', width: '50%' %>
         <h4>Design web conforme à votre cible</h4>
        <p class="text-center">Nous concevons et créons des design web pour une meilleur expérience utilisateur.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
         <%= image_tag 'responsive.png', width: '50%' %>
        <h4>Responsive design</h4>
        <p class="text-center">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression</p>
      </div>
    </div>
  </div>
</div> -->






<div class="container" id="our_service" style="margin-top: 8em;">
  <h4 style="font-weight: lighter; font-size: 30px; color: gray; text-align: center; font-family: 'Dancing Script', cursive;">Nous développons des applications from scratch ! De l'idée à la réalisation, nous mettons les mains dans le code. Nous concevons votre projet de A à Z.
</h4>
<div class="list-inline text-center padded" style="letter-spacing: 41px;" >
  <hr>
  <%=image_tag 'html.png', width: "11%" %>
  <%=image_tag 'css.png', width: "10%" %>
  <%=image_tag 'js.png', width: "9%" %>
  <%=image_tag 'rails.jpg', width: "10%" %>
  <%=image_tag 'boot.png', width: "13%" %>
  <%=image_tag 'git.png', width: "10%" %>
  <%=image_tag 'stripe.png', width: "13%" %>
</div>
</div>



<div class="wrapper feature feature_plugin">
  <span class="center" style="font-family: 'Dancing Script', cursive; font-size: 40px; color: white  ">Nous développons nos propres fonctionnalités.</span>
  <p class="hidden-xs@">Nous concevons et nous développons vos solutions web sur-mesure et from scratch, cest-à-dire en partant d'une page blanche. En fonction de chaque besoin et de chaque budget nous vous proposons plusieurs fonctionnalités en fonction de vos ambitions.
</p>
  <div class="bloc_feature">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media">
          <div class="media-left">
              <%= image_tag 'blog.png',:input_html => { :class => 'media-object' } %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Le blog d'entreprise & actualité</h4>
            <p class="hidden-xs">De la vie ! Voici ce que le blog d'entreprise insufle à votre site web. Il permet de tenir informé vos utilisateurs de votre actualité.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media">
          <div class="media-left">
              <%= image_tag 'video.png',:input_html => { :class => 'media-object' } %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Système de commentaire</h4>
            <p class="hidden-xs">Les commentaires permettent de motiver un achat et d'influencer un utilisateur sur sa décision de vous faire confiance</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media">
          <div class="media-left">
              <%= image_tag 'rate.png',:input_html => { :class => 'media-object' } %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Gestion des utilisateurs</h4>
            <p class="hidden-xs">LOGIN - LOGOUT. Je suis sur ce que cela vous dit quelque chose. La gestion des utilisateurs permet de gerer l'authentification et les droits des utilisateurs.

            </p>
          </div>

        </div>
      </div>
    </div>
    <div class="row padded">
      <div class="col-xs-12 col-sm-6 col-md-4">
       <div class="media">
        <div class="media-left">
            <%= image_tag 'credit-card.png',:input_html => { :class => 'media-object' } %>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Le module de paiement en ligne</h4>
          <p class="hidden-xs">Ce module permet de prendre des sous dans la poche de vos utilisateurs. Vendre des produits sur internet devient simple et rapide. Nous utilisation Stripe comme système de paiement.</p>
        </div>
      </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media">
          <div class="media-left">
              <%= image_tag 'gallery.png',:input_html => { :class => 'media-object' } %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Le porte-folio/galerie photos</h4>
            <p class="hidden-xs">Peintres, photographes, ... ils adorent. Ce module permet de mettre en valeur photos, dessins, peintures, etc...</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
       <div class="media">
        <div class="media-left">
            <%= image_tag 'shopping-bag.png',:input_html => { :class => 'media-object' } %>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Le catalogue produit</h4>
          <p class="hidden-xs">Nous ne sommes pas loin de la boutique en ligne. Il s'agit de mettre en vente vos produits et exposer vos créations.</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>



<%= simple_form_for @contact_form do |f| %>
<div class="container-contact100" id="contact_form">

    <%= render 'shared/map' %>
    <div class="wrap-contact100">
      <form class="contact100-form validate-form">
        <span class="contact100-form-title">
          Contactez nous
        </span>

        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <span class="label-input100">Nom</span>
          <%= f.input :nom, label: false, :input_html => { :class => 'input100' }, placeholder: 'Votre nom'%>
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <span class="label-input100">Email</span>
          <%= f.input :email, label: false, :input_html => { :class => 'input100' }, placeholder: 'Votre adresse email (ex: alan.turing@gmail.com)' %>
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100">
          <span class="label-input100">Téléphone</span>
          <%= f.input :prenom, label: false, :input_html => { :class => 'input100' }, placeholder: 'Votre téléphone'%>
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Message is required">
          <span class="label-input100">Message</span>
          <%= f.input :message, label: false, :input_html => { :class => 'input100' }, rows: 10, placeholder: 'Quel est votre projet dans les grandes lignes ?' %>
          <span class="focus-input100"></span>
        </div>
        <div class="container-contact100-form-btn">
          <div class="wrap-contact100-form-btn">
            <div class="contact100-form-bgbtn"></div>
            <button class="contact100-form-btn">
              <%= f.submit "Envoyé", :class => 'form_button' %>
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
        <% end %>





<button class="scroll_up" type="button" onclick="up_to_header()" style="position: fixed; right: 10px; bottom: 30px; z-index: 10;">
  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true" style="background-color: #4CA1AF;
  padding: 20px; border-radius: 50%; color: white;"></span>
</button>


<script>



</script>





















<!-- <div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="bandeau">
          <p>Compétences</p>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6">
                <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
          <span class="sr-only">40% Complete (success)</span>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
          <span class="sr-only">20% Complete</span>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
          <span class="sr-only">60% Complete (warning)</span>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
          <span class="sr-only">80% Complete (danger)</span>
        </div>
      </div>
      </div>
    </div>
  </div>
</div> -->



<!-- <div class="bandeau2">
<p>QUBICO Bootstrap Template is the perfect sollution for your team's online portfolio. Don't waste time! QUBICO Bootstrap Template is the perfect sollution for your team's online portfolio. Don't waste time! QUBICO Bootstrap Template is the perfect sollution for your team's online portfolio. Don't waste time!QUBICO Bootstrap Template is the perfect sollution for your team's online portfolio. Don't waste time! QUBICO Bootstrap Template is the perfect sollution for your team's online portfolio. Don't waste time! QUBICO Bootstrap Template is the perfect sollution for your team's online portfolio. Don't waste time!</p>
</div> -->



<!-- <div class="timeline">
  <div class="entry">
    <div class="title">
      <h3>2014 - Present</h3>
      <p>Title, Company</p>
    </div>
    <div class="body">
      <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>
      <ul>
        <li>Rerum sit libero possimus amet excepturi</li>
        <li>Exercitationem enim dolores sunt praesentium dolorum praesentium</li>
        <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
      </ul>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>2010 - Present</h3>
      <p>Title, Company</p>
    </div>
    <div class="body">
      <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>
      <ul>
        <li>Rerum sit libero possimus amet excepturi</li>
        <li>Exercitationem enim dolores sunt praesentium dolorum praesentium</li>
        <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
      </ul>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>2009 - 2010</h3>
      <p>Title, Company</p>
    </div>
    <div class="body">
      <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>
      <ul>
        <li>Rerum sit libero possimus amet excepturi</li>
        <li>Exercitationem enim dolores sunt praesentium dolorum praesentium</li>
        <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
      </ul>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>2006 - 2008</h3>
      <p>Title, Company</p>
    </div>
    <div class="body">
      <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>
      <ul>
        <li>Rerum sit libero possimus amet excepturi</li>
        <li>Exercitationem enim dolores sunt praesentium dolorum praesentium</li>
        <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
      </ul>
    </div>
  </div>

</div>

<div class="bandeau">
<p>Formations</p>
</div>
 -->




